<br>
<br>

<div class="col-sm-4 col-sm-offset-4">
    <div class="card"> 
        <h1 class="text-center">Sign Up</h1>
        <br>
        <div class="col-md-8 col-md-offset-2">
            <br>
            <button class="btn btn-block btn-primary">Sign up with facebok</button>
            <br>
            <button class="btn btn-block btn-success">Sign up with google</button>
            <br>
            <button class="btn btn-block btn-danger">Sign up with twitter</button>
        </div>
    </div>
</div>
