body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.card {
	background-color: #d4d4d6;
	position: absolute;
	height: 400px;
	width: 400px;
}

h1{
	margin: 40px;
}
.btn {
	height: 40px;
}

.grid-item {
	width: 400px;
}